<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
</head>
<body>
<h1>Prime Number Calculator</h1>
<form th:action="@{/calculate-prime}" th:value="${boundary}" method="post">
    <label for="boundary">Boundary:</label>
    <input type="number" id="boundary" name="boundary" th:value="${boundary}" />
    <button type="submit">Calculate</button>
</form>
<div>
    <p th:if="${numbers}">
        Result: <span th:each="number,iterStat : ${numbers}" th:text="${number} + ${!iterStat.last ? ', ' : ''}"></span>
    </p>
</div>
</body>
</html>